

/* Header styling *
/* Header styling */
header {
    background: #0693E3;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img.logo {
    width: 180px;
    height: auto;
    margin-left: 20px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

/* Search form styling */
.search-form {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Memastikan elemen berada di sebelah kiri */
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 700px;
    height: 40px;
    margin-right: 200px;
    font-family: 'Mulish', sans-serif;
    font-size: x-small;
}

/* Navigation menu styling */
nav {
    background: #fff;
    color: #ffffff;
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid #000000 !important; /* Force the border-bottom property */
    padding: 10px 0; /* Ensure padding for visibility */

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center; /* Vertically center nav items */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-family: 'Mulish', sans-serif;
    font-size: small; /* You can use smaller sizes like 'smaller' or specify exact size e.g. '10px' */
}

nav ul li a:hover {
    background: #fd9917;
    border-radius: 5px;
}
/*  */
nav ul li a.active::after {
    width: 100%; /* Expand to full width when active */
}
.nav-icon {
    margin-left: -55px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.nav-icon img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}



.show {
    display: block;
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.dropdown img {
    width: 40px;
    height: 40px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-size: small;
    margin-left: -1px;
}

.dropdown-content a:hover {
    background-color: #fd9917;
    border-radius: 5px;
}

.dropdown-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
section {
    padding: 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
}